@use './styles/variables';

* {
  font-family: variables.$font-stack;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: variables.$body-bg-color;
}

a, svg {
  transition: .4s;
}